<div class="container">

  <div class="d-none d-sm-block mt-sm-5">
    <app-search></app-search>
  </div>
  <div class="d-block d-sm-none mt-3">
    <input class="form-control" type="search" name="searchTerm" id="searchTerm"
      placeholder="Job title or keywords ....." autocomplete="off" (click)="showModal(searchTemplate)">
  </div>
  <div class="row">
    <span *ngIf="resultCount && !isLoading" class="col-12 mt-3">
      <h5>{{resultCount}}
        <ng-container *ngIf="hasParams else noParams">
          <span *ngIf="req?.what || req?.where">
            {{req?.what|titlecase}}
            Jobs in
            {{req?.where|titlecase}}
          </span>
          <span *ngIf="req?.category"> {{req?.category|removeHyphen|titlecase}}</span>
        </ng-container>
      </h5>
      <ng-template #noParams>Jobs & Vacancies</ng-template>

    </span>
    <div class="col-sm-3 d-none d-sm-block">
      <app-filters [categories]="categories$|async" [selectedCategoryTag]="selectedCategoryTag"
        (allFilters)="getAllFilters($event)"></app-filters>
    </div>
    <div *ngIf="resultCount" class="d-block d-sm-none mt-2 mx-auto"><button class="btn-link btn-outline-none"
        (click)="showFilters(filtersTemplate)">Filters</button></div>
    <div class="col-sm-9" #jobs>
      <ng-container *ngIf="jobs$|async as jobs ">
        <ng-container *ngIf="jobs?.length else noResultsFound">
          <div *ngFor="let job of jobs">
            <app-job-card [job]="job" (filter)="getSelectedFilter($event)"
              (addedToShortList)="updateShortListed($event)" (removedFromShortList)="updateRemovedShortListed($event)">
            </app-job-card>
          </div>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="resultCount">
        <pagination class="ml-3" [totalItems]="resultCount" [maxSize]="maxPageSize"  [itemsPerPage]="itemsPerPage"
        [rotate]="true" (pageChanged)="pageChanged($event)" (click)="scroll(jobs)">
        </pagination>
      </ng-container>
    </div>
  </div>
</div>

<!-- No jobs found -->
<ng-template #noResultsFound>
  <h5 class="pt-3">No jobs found</h5>
  <p>Your search for{{req?.what}} in {{req?.where}} didn't match any jobs.</p>
  <div *ngIf="req?.where">
    <p class="font-weight-bold mb-0">You may want to try:</p>
    <ul>
      <li> <a role="button" class="text-primary" [routerLink]="['/jobs']" [queryParams]="{where:req?.where}">jobs in
          {{req?.where}}</a></li>
    </ul>
  </div>
  <span class="font-weight-bold"> Search suggestions:</span>
  <ul>
    <li>Check the spelling of search terms</li>
    <li>Try alternative terms</li>
    <li>Adjust the filters to broaden your search</li>
  </ul>
</ng-template>

<!-- Template for search modal dialog -->
<ng-template #searchTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Search</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-search (isSearching)="hideModalOnSearch($event)"></app-search>
  </div>
</ng-template>

<!-- Template for filters modal dialog -->
<ng-template #filtersTemplate>
  <div class="modal-header bg-light sticky-top">
    <h4 class="modal-title pull-left" (click)="clearFilters()">Filters</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-filters [isFiltersCleared]="isFiltersCleared" [categories]="categories$|async"
      (allFilters)="getAllFilters($event)"></app-filters>
  </div>
</ng-template>