.btn-outline-none{
  outline: none;
    background: transparent;
    border: 1px solid transparent;
  &:active, &:focus{
    outline: none;
    background: transparent;
    border: 1px solid transparent;
  }
}