<div class="position-relative">
  <div class="card my-3 m-sm-3 p-3 text-dark">
    <a class="card-text" [href]="job?.redirect_url" target="_blank"
      rel="noopener noreferrer"><h4>{{job?.title|removeHtmlTags}}</h4>
    </a>
    <p *ngIf="job?.company?.display_name" class="card-text">Posted {{postedStatus}} by
      {{job?.company?.display_name|removeHtmlTags}}</p>
    <span class="d-flex justify-content-between mr-1">
      <span class="card-text">{{job?.salary_min|currency:'GBP' : 'symbol' : '1.0-0' }} -
        {{job?.salary_max|currency:'GBP': 'symbol' : '1.0-0'}}
      </span>
      <span class="card-text">{{job?.location?.display_name}}</span>
    </span>
    <span class="d-flex">
      <span *ngIf="job.contract_type" class="card-text mr-3"><a role="button" class="text-primary"
          (click)="getSelectedFilter(job?.contract_type)">{{job?.contract_type|titlecase}}</a></span>
      <span *ngIf="job.contract_time" class="card-text "><a role="button" class="text-primary"
          (click)="getSelectedFilter(job?.contract_time)">{{job?.contract_time|titlecase|removeUnderscore}}</a></span>
    </span>
    <p class="card-text mt-3">{{job?.description|removeHtmlTags}}</p>
  </div>
  <div class="fav-icon">
    <span *ngIf="!isShortListed">
      <span class="rounded-circle py-3" (click)="addToShortList(job)">
        <fa-icon [icon]="faHeart" class="text-body" [styles]="{'stroke': 'gray', 'color': 'gray'}">
        </fa-icon>
      </span>
    </span>
    <span *ngIf="isShortListed">
      <span class="rounded-circle py-3" (click)="removeFromShortList(job)">
        <fa-icon [icon]="faHeart">
        </fa-icon>
      </span>
    </span>
  </div>
</div>