<div class="card my-3 p-3 text-dark">
  <form [formGroup]="filterForm">
    <h5>Filter your search</h5>
    <section class="pt-3 mb-3">
      <h6>Distance</h6>
      <select class="custom-select" formControlName="distance">
        <option *ngFor="let item of distancesInKm" [value]="item?.value">{{item?.name}}</option>
      </select>
    </section>
    <!-- <div class="pt-3"> <hr/></div> -->
    <div class="py-3">
      <h6>Salary range</h6>
      <section class="pt-3">
        <!-- <span class="d-flex justify-content-between border border-danger">
          <h6>From</h6> <button class="btn btn-linkborder border-success">Clear</button>
        </span> -->
        <h6 class="d-flex justify-content-between border border-danger">From <a role="button" class="clear-salary" (click)="resetSalaries('min')">Clear</a></h6>
        <select class="custom-select" formControlName="minSalary" (change)="onSalarySelected('min')">
          <option selected value="0">£ Any</option>
          <option *ngFor="let item of minSalaries" [value]="item?.value">
            {{item?.name|currency:'GBP': 'symbol' : '1.0-0'}}</option>
        </select>
      </section>
      <section class="pt-3">
        <!-- <h6>To</h6> -->
        <h6 class="d-flex justify-content-between">To <a role="button" (click)="resetSalaries('max')">Clear</a></h6>
        <select class="custom-select" formControlName="maxSalary" (change)="onSalarySelected('max')">
          <option selected value="0">£ Any</option>
          <option *ngFor="let item of maxSalaries" [value]="item?.value">
            {{item?.name|currency:'GBP': 'symbol' : '1.0-0'}}</option>
        </select>
      </section>
    </div>
    <section class="pt-3 mb-3">
      <h6>Job type</h6>
      <div *ngFor="let type of jobTypes">
        <label class="custom-control custom-radio pb-2">
          <input type="radio" class="custom-control-input" [value]="type?.value" [id]="type?.value"
            formControlName="jobType">
          <span class="custom-control-label" [attr.for]="type?.value">{{type?.name}}</span>
        </label>
      </div>
    </section>
    <section class="pt-3  mb-3">
      <h6>Date posted</h6>
      <select class="custom-select" formControlName="maxDaysOld">
        <option selected value="0">Anytime</option>
        <option *ngFor="let item of period" [value]="item?.value">{{item?.name}}</option>
      </select>
    </section>
    <section class="pt-3">
      <h6>Categories</h6>
      <div *ngFor="let category of categories">
        <label class="custom-control custom-radio pb-2">
          <input type="radio" class="custom-control-input" [value]="category?.tag" [id]="category?.tag"
            formControlName="category" (change)="onCategoryChange(category?.tag)">
          <span class="custom-control-label" [attr.for]="category?.tag">{{category?.label}}</span>
        </label>
      </div>
    </section>
  </form>
</div>