/* You can add global styles to this file, and also import other style files */

.logo {
  width: 8rem;
  height: 100%;
  // border: 1px solid red;
}
.nav-link {
  color: white !important;
}

.btn-outline-none {
  outline: none;
  background: transparent;
  border: 1px solid transparent;
  &:active,
  &:focus {
    outline: none;
    background: transparent;
    border: 1px solid transparent;
  }
}

.bg-nav {
  background: red;
}

@media only screen and (min-width: 768px) {

  .logo {
    width: 12rem;
    height: 100%;
    // border: 1px solid red;
  }

  nav {
    font-size: 1.2rem;
  }
}
