<div class="banner text-white">
  <div class="banner-content">
    <h1>Get everything you need from a job</h1>
    <app-search [isLargeInput]="true">
    </app-search>
  </div>
</div>
<section class="pt-3 m-3">
  <h3 class="text-center">Choose your sector</h3>
  <h5 class="text-center mb-3 pb-3">See the latest roles below</h5>
  <div class="d-none d-sm-block">
    <div class="d-flex justify-content-between cat-container">
      <div *ngFor="let item of sectors">
        <a class="sector rounded" [routerLink]="['/jobs']" [queryParams]="{category:item?.tag}"
          [ngClass]="{'eng-bg': item.tag=='engineering-jobs','graduate-bg': item.tag=='graduate-jobs','it-bg': item.tag=='it-jobs','health-bg': item.tag=='healthcare-nursing-jobs' }">
          <h3 class="text-white text-center">{{item.label}}</h3>
        </a>
      </div>
    </div>
    <!-- <a class="sector rounded mx-4">
          <h3 class="text-white"> Technology</h3>
        </a>
        <div class="sector rounded">
          <h3> Health</h3>
        </div>
        <div class="sector rounded ml-4">
          <h3>Graduate</h3>
        </div> -->
  </div>
  <div class="d-none d-sm-block mx-sm-5">
    <div class="row row-cols-1 row-cols-sm-4 mt-3" id="job-sectors">
      <div *ngFor="let category of categories$|async">
        <a [routerLink]="['/jobs']" [queryParams]="{category:category?.tag}" routerLinkActive="router-link-active"
          class="btn btn-link">{{category?.label}}</a>
      </div>
    </div>
  </div>

  <!-- Browse all sectors mobile -->
  <div class="text-center d-sm-none">
    <button class="btn btn-outline-secondary btn-block " type="button" data-toggle="collapse" data-target="#job-sectors"
      aria-expanded="false" aria-controls="job-sectors">
      Browse all sectors
    </button>
  </div>
  <div class="row row-cols-1 d-sm-none" id="job-sectors" class="collapse" aria-labelledby="all-sectors-heading">
    <div *ngFor="let category of categories$|async">
      <a [routerLink]="['/jobs']" [queryParams]="{category:category?.tag}" routerLinkActive="router-link-active"
        class="btn btn-link">{{category?.label}}</a>
    </div>
  </div>
</section>
<!-- Footer -->
<footer class="mt-5 pb-5">
  <div class="bg-light">
    <article class="more-links d-flex justify-content-around  pt-3">
      <section>
        <h6>JOBS</h6>
        <ul class="list-unstyled ">
          <li><a href="">Contact us</a></li>
          <li><a href="">Jobseeker Login</a></li>
          <li><a href="">Job search</a></li>
          <li><a href="">Browse jobs</a></li>
          <li><a href="">Popular searches</a></li>
          <li><a href="">Average salary checker</a></li>
          <li><a href="">Recruiter directory</a></li>
        </ul>
      </section>
      <section>
        <h6>RECRUITER</h6>
        <ul class="list-unstyled">
          <li><a href="">Recruiter site</a></li>
          <li><a href="">Post a job</a></li>
          <li><a href="">CV Search</a></li>
          <li><a href="">Recruitment agencies</a></li>
        </ul>
      </section>
      <section>
        <h6>Adwuma.com</h6>
        <ul class="list-unstyled">
          <li><a href="">About us</a></li>
          <li><a href="">Privacy policy</a></li>
          <li><a href="">Terms and Conditions</a></li>
          <li><a href="">Press centre</a></li>
        </ul>
      </section>
    </article>
    <div class="social-links d-flex justify-content-center py-3">
      <ul class="row list-unstyled ">
        <li><a href="">
            <ion-icon id="facebook" size="large" name="logo-facebook"></ion-icon>
          </a></li>
        <li class="mx-3"><a href="">
            <ion-icon id="twitter" size="large" name="logo-twitter"></ion-icon>
          </a></li>
        <li><a href="">
            <ion-icon id="linkedin" size="large" name="logo-linkedin"></ion-icon>
          </a></li>
        <li class="ml-3"><a href="">
            <ion-icon id="youtube" size="large" name="logo-youtube"></ion-icon>
          </a></li>
      </ul>
    </div>
  </div>
  <article *ngIf="isTablet" class="copyright text-center mt-5">
    <span>&copy; adwuma.com {{year}}</span>
  </article>
</footer>