.cat-container {
  height: 250px;
  margin: 0 3rem;
}
.sector {
  width: 270px;
  height: 100%;
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.category-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-position: center;
}

.eng-bg {
  background: url("https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60")
    rgba(243, 172, 215, 0.3);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-position: center;
}
.it-bg {
  background: url("https://images.unsplash.com/photo-1480506132288-68f7705954bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60")
    rgba(243, 172, 215, 0.3);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-position: center;
}
.health-bg {
  background: url("https://images.unsplash.com/photo-1526256262350-7da7584cf5eb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60")
    rgba(243, 172, 215, 0.3);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-position: center;
}
.graduate-bg {
  background: url("https://images.unsplash.com/photo-1599687267899-09999a5d92fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60")
    rgba(243, 172, 215, 0.3);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-position: center;
}

.header-btn {
  font-size: 1.3rem;
}

.banner {
  // background: url("https://images.unsplash.com/photo-1542744173-8e7e53415bb0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=4&w=1000&q=60")
  // background: url("https://images.unsplash.com/photo-1557425955-df376b5903c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60")
  // background: url("https://images.pexels.com/photos/1367276/pexels-photo-1367276.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500")
  // background: url("https://images.pexels.com/photos/1181396/pexels-photo-1181396.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500")
  background: url("https://images.pexels.com/photos/1015568/pexels-photo-1015568.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500")
    hsl(345, 5%, 85%);
  // hsl(330, 5%, 45%);
  // hsl(324, 3%, 66%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  height: 70vh;
  position: relative;
  color: white;
  // opacity: .9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    // align-self: flex-start;
    // margin-left: 1.2rem;
    padding: 1rem 0;
    font-size: 1.8rem;
  }
}

.banner-content {
  width: 90vw;
  // padding: 1rem;
  // border: 2px solid red;
  // background-color: hsl(343, 6%, 23%);
  // opacity: .6;
  // margin: 0 2rem;
}

.more-links, .card-body {
  ul li a {
    color: inherit;
    text-decoration: none;
    font-weight: 200;
  }
  h6 {
    font-weight: 400;
  }
}

.btn-link{
  text-decoration: none !important;
}

.social-links {
  ul li a {
    color: inherit;
    text-decoration: none;
  }

  #facebook:hover {
    color: hsl(221°, 44, 41);
  }

  #twitter:hover {
    color: hsl(206, 82%, 63%);
  }

  #linkedin:hover {
    color: hsl(199, 85%, 36%);
  }

  #youtube:hover {
    color: red;
  }
}


@media only screen and (min-width: 768px) {
  .banner-content {
    width: 80vw;
    padding: 1rem;
  }
  .banner h1 {
    padding-bottom: 3rem;
    font-size: 2rem;
  }
}
