<!-- <div class="jumbotron jumbotron-fluid p-3 p-sm-5 text-white text-center font-weight-bold banner">
  <app-search></app-search>
</div> -->
<div class="banner text-white font-weight-bold ">
  <div class="banner-content mx-sm-auto"><app-search [isLargeInput]="true"></app-search></div>
</div>
<section class="pt-3 m-3">
  <h3 class="text-center">Choose your sector</h3>
  <h5 class="text-center mb-3 pb-3">See the latest roles below</h5>
  <div class="d-none d-sm-block">
    <div class="d-flex justify-content-between cat-container">
      <div class="eng-bg rounded">
        <h3 class="text-white">Engineering</h3>
      </div>
      <a class="eng-bg rounded mx-4">
        <h3 class="text-white"> Technology</h3>
      </a>
      <div class="eng-bg rounded">
        <h3> Health</h3>
      </div>
      <div class="eng-bg rounded ml-4">
        <h3>Graduate</h3>
      </div>
    </div>
  </div>
  <div class="d-none d-sm-block">
    <div class="row row-cols-1 row-cols-sm-4 mt-3" id="job-sectors">
      <div *ngFor="let category of categories$|async">
        <a [routerLink]="['/jobs']" [queryParams]="{category:category?.tag}" routerLinkActive="router-link-active"
          class="btn btn-link">{{category?.label}}</a>
      </div>
    </div>
  </div>

  <!-- Browse all sectors mobile -->
  <div class="text-center d-sm-none">
    <button class="btn btn-outline-secondary btn-block " type="button" data-toggle="collapse" data-target="#job-sectors"
      aria-expanded="false" aria-controls="job-sectors">
      Browse all sectors
    </button>
  </div>
  <div class="row row-cols-1 d-sm-none" id="job-sectors" class="collapse" aria-labelledby="all-sectors-heading">
    <div *ngFor="let category of categories$|async">
      <a [routerLink]="['/jobs']" [queryParams]="{category:category?.tag}" routerLinkActive="router-link-active"
        class="btn btn-link">{{category?.label}}</a>
    </div>
  </div>
</section>
<div class="bg-light p-5">
  <div class="p-1 p-sm-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus, nostrum.</div>
  <p class="p-1 p-sm-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae voluptate saepe iusto maiores
    tempora vero atque ratione iure, rem inventore.</p>
</div>